*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: #4C62F6;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav{
    display: flex;
    justify-content: center;
    align-items: center;
}

h2{
    padding-bottom: 25px;
}

@media screen and (max-width: 426px){
    nav.header-diferente img{
        width: 100px;
    }

    nav.header-diferente h2{
        padding-bottom: 20px;
    }

}
