#cards-faq{
    background-color: #FFFFFB;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    height: 100vh;
}

.cards{
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    width: 600px;
}

.cards:nth-of-type(3) {
  border: 1px solid red
}

@media screen and (max-width: 426px) {


    .cards{
        gap: 10px;
    }

    .card-faq{
        width: 140px;
        height: 210px;
        font-size: 1.4rem;
    }

    .icone{
        width: 100px;
        height: 100px;
    }

    
}

