#cards-faq{
    background-color: #FFFFFB;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cards{
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    width: 600px;
    margin: auto;
}

.cards:nth-of-type(3) {
  border: 1px solid red
}

@media screen and (max-width: 426px) {


    .cards{
        padding-left: 15px;
        gap: 10px;
    }

    .card-faq{
        width: 140px;
        height: 210px;
        font-size: 1.4rem;
    }

    .icone{
        width: 100px;
        height: 100px;
    }

    
}

