.home{
	display: flex;
	flex-direction: column;
	background-color: #FFFFFB;
	height: 100vh;
	color: #4a56a3;
}

main{
	align-self: center;
	text-align: center;
}

main h2{
	padding-top: 32px;
	font-size: 3rem;
}

main p{
	padding: 10px 10px 0px 10px;
	font-size: 1.2rem;
}

.botoes{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	gap: 32px;
	padding-top: 32px
}

.botao-entrar{
	height: 100px;
	max-width: 400px;
	min-width: 300px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #4C62F6;
	color: #FCFA60;
	text-decoration: none;
	font-size: 4rem;
}

.botao-outline{
	height: 100px;
	max-width: 400px;
	min-width: 300px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #4C62F6;
	color: #FCFA60;
	text-decoration: none;
	font-size: 4rem;
	border-radius: 10px;
}